{% extends 'layouts/dashboard_base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="{{ url_for('static', filename='js/lib/moment.min.js') }}"></script>
{% endblock styles %}


{% block content %}
    <div class="alert alert-warning">
        <strong>Warning!</strong> Only one grading session per browser window or tab supported. Please make sure you
        only have one window or tab open when grading.
    </div>
    <h1 class="page-header">Dashboard</h1>
    <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <span class="total-responses dashboard">{{ data.total_responses }}</span>
                <h4 class="text-muted">Total Responses Graded</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <span class="average-responses dashboard">{{ data.avg_graded_per_session | round }}</span>
                <h4 class="text-muted">Responses Per Session</h4>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <span class="average-responses-hour dashboard">{{ data.response_grading_rate | round(precision=1, method='ceil') }}</span>
                <h4 class="text-muted">Responses Per Minute</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <span class="responses-last-session dashboard">{{ data.total_time_grading | round }}</span>
                <h4 class="text-muted">Total Minutes Grading</h4>
            </div>

    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h1 class="page-header">Grading Sessions</h1>
            <div class="alert alert-info">
                <strong>Note:</strong> The times and sessions are approximate and should only be used as a guide. Graders should manage their time separately.
            </div>

            <table class="session-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Session start</th>
                        <th>Session end</th>
                        <th>Total graded</th>
                        <th>Total time</th>
                    </tr>
                </thead>
                <tbody>
                {% for session in sessions %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ momentjs(session.started_on).simple() }}</td>
                        <td>{{ momentjs(session.ended_on).simple() }}</td>
                        <td>{{ session.response_count }}</td>
                        <td>{{ momentjs(session.started_on, session.ended_on).time_from() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row spacer">

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <a id="begin-grading" class="btn btn-lg btn-success begin-grading" href="{{ url_for('grader.index') }}">Begin Grading</a>
        </div>

    </div>

{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.session-table').DataTable({bFilter: false});
        })
    </script>

{% endblock scripts %}
