{% extends 'layouts/base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {{  stylesheet_tag('app_css') | safe }}
    <script src="//cdn.mathjax.org/mathjax/2.6-latest/MathJax.js?config=TeX-MML-AM_HTMLorMML-full&amp;delayStartupUntil=configured"></script>

{% endblock styles %}

{% block navbar %}
    {% include 'layouts/nav.html' %}
{% endblock navbar %}

{% block content %}

    <div class="container">
        <div class="row">
            <!--left box-->
            <div class="col-xs-12 col-md-8 col-lg-8 ">
                <!--lef side box-->
                <div class="border_bg margin_bottom">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 small_margin">
                            <button class="btn">Not qualified</button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 small_margin">
                            <button class="btn">Report Error</button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 small_margin">
                            <button class="btn">View Reference</button>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 small_margin">
                            <button class="btn" id="notes_button">Hide Notes</button>
                        </div>
                    </div>
                    <div>

                        <div class="col-lg-12 small_margin border padding_small">
                            <span class="exercise-header">Exercise Text:</span>
                            <div class="exercise-text">Exercise Text Here</div>
                        </div>

                        <div class="col-lg-12 small_margin border padding_small">
                              <span class="exercise-header">Correct Answer:</span>
                            <div class="exercise-answer">Exercise Answer Text Here</div>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>

                <!--STUDENT RESPONSE-->

                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12 ">
                            <div class="row  small_margin">
                                <!--down box left-->
                                <div class="col-md-12 col-xs-12 border_bg no_margin_left ">

                                    <div class="border padding_small">
                                        <div class="stu-response">STUDENT RESPONSE HERE</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 ">
                                            <div class="grader-form-container">
                                                <!-- THE GRADER FORM IS INSERTED HERE -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

            <!--right box-->




    </div>
        <div class="col-xs-12 col-md-4 col-lg-4 " id="notes_box">
                <form action="" method="post" id="notes" name="notes">
                    <div class="row border_bg tab_width">
                        <h1>Notes</h1>
                            <span>

                                <textarea></textarea>

                            </span>
                        <span><button type="submit" class="btn btn-success small_margin">Add Note</button></span>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
        </div>
</div>

{% endblock content %}

{% block scripts %}
    {{ javascript_tag('app_js') | safe }}
    <script>
        const userId = {{ user_id }};
        let exerciseId = {{ exercise_id }};

        document.addEventListener("DOMContentLoaded", function(event) {
            window.App.start(userId, exerciseId);

        });

    </script>
    {% raw %}
    <script id="grader-form-template" type="text/x-handlebars-template">

        <form id="grader-response" name="grader-response">
            <input type="hidden" id="responseId" name="responseId" value="" />

                <ul class="quality_ul">
                    <li>
                        <div class="row">
                            <div class="col-md-4 bold">Quality</div>
                                <div class="col-md-8">
                                    <select class="quality form-control" name="quality">
                                        <option value="">---Select a quality option---</option>
                                        <option value="t">Junk</option>
                                        <option value="f">Not Junk</option>
                                        </select>
                                </div>
                        </div>
                    </li>
                    <div class="extra_options">
                        <li>
                            <div class="row">
                                <div class="col-md-4 bold">Score</div>
                                    <div class="col-md-8">
                                        <select class="score form-control" name="score">
                                            <option value="">---Select a credit option---</option>
                                            <option value="0">No Credit</option>
                                            <option value="1">Full Credit</option>
                                            <option value="0.5">Partial Credit</option>
                                        </select>
                                    </div>
                            </div>

                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-4 bold">Misconception?</div>
                                    <div class="col-md-8">
                                        <select class="misconception form-control"name="misconception">
                                            <option value="">---Select an option---</option>
                                            <option value="t">Yes</option>
                                            <option value="f">No</option>
                                        </select>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-4 bold">Feedback</div>
                                    <div class="col-md-8">
                                        <select class="feedback form-control" name="feedback_id">
                                            <option value="">---Select an option---</option>
                                            <option value="1">"The original hypothesis is incorrect because the toaster may be broken or was not turned on."
                                            </option>
                                            <option value="2">The original hypothesis is incorrect because when the coffee maker was plugged in it worked. Therefore, it is incorrect to hypothesize that there is something wrong with the outlet. Alternative hypothesis includes that the toaster wasn’t turned on.
                                            </option>
                                            <option value="3">The coffee maker works when plugged into the outlet, but the toaster doesn’t. Alternative hypothesis includes that the toaster wasn’t turned on.
                                            </option>
                                            <option value="4">The coffee maker works in the mentioned situation but the toaster doesn’t. Alternative hypotheses suggests that the toaster might be broken or was not working.
                                            </option>
                                        </select>
                                    </div>
                            </div>
                        </li>
                    </div>
                </ul>

        <div class="clear"></div>
        <button type="button" id="graderSubmit" class="btn btn-success small_margin">Submit</button>
    </form>
    </script>
{% endraw %}



{% endblock scripts %}
