{% extends 'layouts/base.html' %}

{% block styles %}
    {{ super() }}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">#}
    {{ stylesheet_tag('app_css') | safe }}

{% endblock styles %}

{% block navbar %}
    {% include 'layouts/nav.html' %}
{% endblock navbar %}

{% block content %}

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="control-panel">
                        <button class="btn">Not qualified to score this question</button>
                        <button class="btn">Report Error</button>
                        <button class="btn">View Reference Text</button>
                        <button class="btn">Show Notes</button>
                    </div>

                    <div class="question-panel">
                        <div class="question-text">
                            <h1>Question Text</h1>
                            {{ exercise.exercise_html | safe}}
                        </div>

                        <div class="correct-answertext">
                            <h1>Answer Text</h1>
                            {{ exercise.answer_html }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="student-response">
                            <h1>Student Response</h1>
                            {{ free_response }}
                        </div>
                        <div class="grader-panel">
                            <form action="{{ url_for('grader.old') }}" method="post" id="grade-response-form">
                                <fieldset class="form-group">
                                    <legend>Grade the Student's Response</legend>
                                    {{ form.csrf_token() }}

                                    <ol class="list-unstyled">
                                        <li>
                                            {{ form.response_id }}
                                        </li>
                                        <li>
                                            {{ form.quality.label }}
                                            {{ form.quality(class_='form-control') }}
                                        </li>
                                        <li>
                                            {{ form.score.label }}
                                            {{ form.score(class_='form-control') }}
                                        </li>
                                        <li>
                                            {{ form.misconception.label }}
                                            {{ form.misconception(class_='form-control') }}

                                        </li>
                                        <li>
                                            {{ form.feedback.label }}
                                            {{ form.feedback(class_='form-control') }}
                                        </li>
                                    </ol>
                                    {{ form.submit(class_='btn btn-primary') }}
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block scripts %}
{{ super() }}
<script>

var timeout;

function warning() {
    timeout = setTimeout(function(){
        alert('You stayed')
    }, 1000);
    return "You are leaving the page"
}

function noTimeout() {
    clearTimeout(timeout);
    var message = 'something';
    $.ajax({
        url: '/something',
        data: {data: message},
        async: false

    })
}

window.onbeforeunload = warning;
window.unload = noTimeout



</script>

{% endblock scripts %}
