body {
    padding-top: 50px;
}

table {
    /* cellspacing */
    border-collapse: collapse;
    border-spacing: 0;
    /*table-layout: fixed;*/
    width: 100%;
}

th {
    width:50px;

}

tr {
    width:75px;

}

th, td {
    /* cellpadding */
     padding: 0 10px;

}

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}
