<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('dashboard.index') }}">eGrader</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ url_for('dashboard.index') }}">Dashboard</a>
                </li>
                <li>
                    <a href="{{ url_for('static', filename='pdf/orientationdocument.pdf') }}" target="_blank">Help</a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('security.logout') }}">Logout</a>
                </li>
                {% endif %}
                {% if current_user.has_role('admin') %}
                <li>
                    <a href="{{ url_for('admin.index') }}">Admin</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
