{% extends 'layouts/admin_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category|default('info') }} alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    <div class="create-user-panel panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Create User</h2>
        </div>
        <div class="panel-body">
            {{ wtf.quick_form(form,
                             action=url_for('admin.manage_users'),
                             button_map={'submit': 'primary btn-lg'}) }}

        </div>
    </div>

    <div class="user-list-panel panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                Users
                <span class="badge">{{ users|length }}</span>
            </h2>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                {% for u in users %}
                    <li class="list-group-item">
                        <a href="{{ url_for('admin.edit_user', user_id=u.id) }}">{{ u.email }}</a> {% if u.roles[0] %}<span class="label label-info">{{ u.roles[0].name }}</span> {% endif %}
                        {% if u.subject %}<span class="label label-primary subject-label">{{ u.subject.name }}</span>{% endif %}
                    </li>
                {% endfor %}
        </div>
    </div>

{% endblock content %}
